$primary = #ffcc32

wh($width, $height)
    width $width
    height $height

fj($type=space-between)
    display flex
    justify-content $type
    
fa($type=center)
    display flex
    align-items $type